trimesh[easy]>=3.5.0
imgviz[all]==0.10.0
scipy
opencv-python==3.4.3.18
torch==1.6.0
torchvision==0.7.0
scikit-learn
scikit-image==0.17.2
future
pyrender
glooey
pyk4a
pyrealsense2
PyDataSocket
PyQt5>=5.14.0
pyqtgraph>=0.10.0
nptyping
configargparse
PyQt5>=5.14.0
pyqtgraph>=0.10.0
PyDataSocket
configargparse
tqdm
